<div class="login-forms">
    <div class="container">
        <header class="login-form-header">
            <h2>Sign in with your RevPay ID</h2>
        </header>
        <div class="forms">
            <div class="form-cell-wrapper form-textbox">
                <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                    <div class="input-fields">
                        <input [(ngModel)]="form.username" name="username" type="text" id="username" required
                            #username="ngModel" placeholder="">
                        <span id="revPayID_field_label">username</span>
                    </div>

                    <div class="input-fields2">
                        <input [(ngModel)]="form.password" name="password" type="password" id="password" required
                            #password="ngModel" placeholder="">
                        <span for="password" id="revPayID_field_label">password</span>
                    </div>
                    <div class="button-submit">
                        <button mat-raised-button color="warn" id="button-submit">Submit</button>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                        Login failed: {{ errorMessage }}
                    </div>
                </form>
                <!-- <div class="alert alert-success" *ngIf="isLoggedIn">
                    Logged in as {{ roles }}.
                </div> -->
            </div>
        </div>
    </div>
    <div class="routerlinks">
        <button id="goBack" mat-raised-button color="warn" [routerLink]="['/register']">need an account? click
            here</button>
        <router-outlet></router-outlet>
    </div>
</div>