<div class="login-forms">
    <div class="container">
        <header class="login-form-header">
            <h2>Sign in with your RevPay ID</h2>
        </header>
        <div class="forms">
            <div class="form-cell-wrapper form-textbox">
                <form >
                    <div class="input-fields">
                        <input type="text" id="username" required placeholder="">
                        <span id="revPayID_field_label">username</span>
                    </div>

                    <div class="input-fields2">
                        <input type="password" id="password" required placeholder="">
                        <span for="password" id="revPayID_field_label">password</span>
                    </div>
                    <div class="button-submit">
                        <button mat-raised-button color="warn" id="button-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="routerlinks">
        <button  id ="goBack" mat-raised-button color="warn" [routerLink]="['/register']">need an account? click here</button>
        <router-outlet></router-outlet>
    </div> 
</div>

