<body>
    <div class="nav-container">
        <nav class="navclass">
            <ul class="navbar-nav-ul">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/placeholder']">
                        <fa-icon class="fa-primary" [icon]="faLandmark"></fa-icon>
                        <span class="link-text">Loans</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/business/send-invoices']">
                        <fa-icon class="fa-primary" [icon]="faFileInvoiceDollar"></fa-icon>
                        <span class="link-text">Invoices</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/placeholder']">
                        <fa-icon class="fa-primary" [icon]="faFileCode"></fa-icon>
                        <span class="link-text">Transfer History</span>
                    </a>
                </li>
                <router-outlet></router-outlet>
            </ul>
        </nav>
    </div>
    <main>
        <div class="container">
            <div class="bus-header-div">
                <header class="bus_header">
                    <h1>Business Profile</h1>
                    <p>hello, user</p>
                </header>
            </div>

            <div class="credit_info_text">
                <div class="container-fields">
                    <mat-card class="card-template">
                        <form>
                            <div class="input-fields">
                                <mat-form-field class="mat-fields" appearance="fill">
                                    <mat-label for="credit_name">Enter your full name</mat-label>
                                    <input class="input-texts" matInput type="text" name="text" id="credit_name">
                                </mat-form-field>
                            </div>

                            <div class="input-fields">
                                <mat-form-field class="mat-fields" appearance="fill">
                                    <mat-label for="credit_number">Enter credit card number</mat-label>
                                    <input class="input-texts" matInput type="text" id="credit_number" maxlength="16"
                                        (keypress)="numbersOnly($event)">
                                </mat-form-field>
                            </div>

                            <div class="input-fields">
                                <mat-form-field class="mat-fields" appearance="fill">
                                    <mat-label for="pwd">Enter credit card Security </mat-label>
                                    <input class="input-texts" matInput type="password" name="pwd" id="pwd"
                                        maxlength="3" pattern="\d{3}" (keypress)="numbersOnly($event)">
                                </mat-form-field>
                            </div>

                            <div class="expirary_date">
                                <mat-form-field class="mat-fields" appearance="fill">
                                    <mat-label>Month</mat-label>
                                    <mat-select class="input-texts" name='expireMM' id='expireMM'>
                                        <mat-option value='01'>January</mat-option>
                                        <mat-option value='02'>February</mat-option>
                                        <mat-option value='03'>March</mat-option>
                                        <mat-option value='04'>April</mat-option>
                                        <mat-option value='05'>May</mat-option>
                                        <mat-option value='06'>June</mat-option>
                                        <mat-option value='07'>July</mat-option>
                                        <mat-option value='08'>August</mat-option>
                                        <mat-option value='09'>September</mat-option>
                                        <mat-option value='10'>October</mat-option>
                                        <mat-option value='11'>November</mat-option>
                                        <mat-option value='12'>December</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="mat-fields" appearance="fill">
                                    <mat-label value=''>Year</mat-label>
                                    <mat-select class="input-texts" name='expireYY' id='expireYY'>
                                        <mat-option value='23'>2023</mat-option>
                                        <mat-option value='24'>2024</mat-option>
                                        <mat-option value='25'>2025</mat-option>
                                        <mat-option value='26'>2026</mat-option>
                                        <mat-option value='27'>2027</mat-option>
                                        <mat-option value='28'>2028</mat-option>
                                        <mat-option value='29'>2029</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div class="input-expirary-fields">
                                    <div>
                                        <label for="inputCard">Or enter manually</label>
                                    </div>

                                    <div class="input-fields">
                                        <mat-form-field class="mat-fields" appearance="fill">
                                            <mat-label>Month</mat-label>
                                            <input class="input-texts" matInput type="text" name="expiry" id="expiry"
                                                maxlength="2" pattern="(0[1-9]|1[0-2])"
                                                (keypress)="numbersOnly($event)" />
                                        </mat-form-field>
                                    </div>


                                    <div class="input-fields">
                                        <mat-form-field class="mat-fields" appearance="fill">
                                            <mat-label>Year</mat-label>
                                            <input class="input-texts" matInput type="text" name="expiry" id="expiry"
                                                maxlength="2" (keypress)="numbersOnly($event)" />
                                        </mat-form-field>
                                    </div>

                                </div>
                            </div>
                            <div class="submit_button">
                                <button>add card</button>
                            </div>
                        </form>
                    </mat-card>
                </div>
            </div>
        </div>
    </main>
</body>