

<!-- <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
<a routerLink="/personal/personal-transaction-history">Transaction History</a>
</div> -->
<div class = "header">
    <h1>My Account</h1>
    <div>  
            <a [routerLink]="['/personal/transaction-history']"> Transaction History</a>
            <a [routerLink]="['/personal/wallet']">My Wallet</a>
    </div>
</div>

<section class="container">
        <form [formGroup]="cardForm" class="form-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Enter Card Details
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <div>
                            <mat-form-field class="full-width">
                                <input formControlName="name" matInput placeholder="Full Name">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width">
                                <input formControlName="number" matInput placeholder="16-Digit Card Number" (keypress)="numbersOnly($event)">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Expiration Date</mat-label>
                                <input formControlName="date" matInput [matDatepicker]="picker" (keypress)="numbersOnly($event)">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width">
                                <input formControlName="security" matInput placeholder="3-Digit Security Code" (keypress)="numbersOnly($event)">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-radio-group formControlName="cardType" class="margin-left" color="primary">
                                <mat-radio-button value="debit"> Debit </mat-radio-button>
                                <mat-radio-button value="credit"> Credit </mat-radio-button>
                            </mat-radio-group>
                        </div>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="submittedCard()" mat-raised-button color="primary">
                        Add Card
                    </button>
                </mat-card-actions>
                <p *ngIf="addCard">Your card has been added!</p>
            </mat-card>
        </form>
        <form [formGroup]="bankForm" class="form-container">
            <mat-card class="col-md-6">
                <mat-card-header>
                    <mat-card-title>
                        Link Bank Account
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <div>
                            <mat-form-field class="full-width">
                                <input formControlName="account" matInput placeholder="Account Number">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width">
                                <input formControlName="routing" matInput placeholder="Routing Number">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Account Type</mat-label>
                                <input type="text"
                                       placeholder="Select Account"
                                       aria-label="Account Type"
                                       matInput
                                       [formControl]="myControl"
                                       [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option *ngFor="let option of options1" [value]="option">
                                    {{option}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                        </div>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="submittedBank()" mat-raised-button color="primary">
                        Link Bank
                    </button>
                </mat-card-actions>
                <p *ngIf="addBank">Bank account successfully linked!</p>
            </mat-card>
        </form>
</section>

<!-- <section class="card">
    <form>
        <h2>Enter Card Details</h2>

        <h3>Cardholder's Name</h3>
        <mat-form-field appearance="fill">
            <input matInputplaceholder="Full name" required>
        </mat-form-field>

        <h3>Card Number</h3>
        <input placeholder="16-digit card number">

        <h3>Expiration Date</h3>
        <input type="date" placeholder="Exp date">

        <h3>Security Number</h3>
        <input placeholder="3-digit security number">

        <br>
        <button (click)="submittedCard()">Add Card</button>
        <p *ngIf="addCard">Your card has been added!</p>
    </form>
</section>
-->

<!-- <section class="bank">
    <h2>Link Bank Account</h2>

    <h3>Account Number</h3>
    <input placeholder="Account number">

    <h3>Routing Number</h3>
    <input placeholder="Routing number">

    <br>
    <button (click)="submittedBank()">Link Account</button>
    <p *ngIf="addBank">Bank account successfully linked!</p>
</section>
<router-outlet></router-outlet>
-->