<h1>My Account</h1>

<!-- <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
<a routerLink="/personal/personal-transaction-history">Transaction History</a>
</div> -->
<p>
    <a [routerLink]="['/personal/transaction-history']"> transaction history</a>
</p>

<section class="card">
    <h2>Enter Card Details</h2>

    <h3>Cardholder's Name</h3>
    <input placeholder="Type Here">

    <h3>Card Number</h3>
    <input placeholder="Type Here">

    <h3>Expiration Date</h3>
    <input placeholder="Type Here">

    <h3>Security Number</h3>
    <input placeholder="Type Here">

    <br>
    <button>Add Card</button>
</section>
<router-outlet></router-outlet>