<section>
    <h1>Make a Transaction</h1>
    <h3>Add a contact</h3>
    <input placeholder="Enter Contact" type = "text" [(ngModel)]="contact" #input>
    <button (click)="addContact()">Add Contact</button>

    <h3>Amount</h3>
    <input placeholder="Enter Amount">
    <select name="transaction" id="money">
        <option value="">Select Transaction Type</option>
        <option value="send">Send Money</option>
        <option value="request">Request Money</option>
        <option value="wallet">Add To Wallet</option>
    </select>
    <br>
    <button (click)="completeTransaction()">Complete Transaction</button>
    <br>
    <p *ngIf="completedTransaction">Your Transaction is complete!</p>
</section>

<section>
    <h2>Saved Contacts</h2>
    <div *ngFor="let contact of contacts">
        <p>{{contact}}</p>
    </div>
</section>