<section>
    <div class="header">
        <h1>Make a Transaction</h1>
    </div>
    <!-- <div class="container">
        <form class="form">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="card-header">
                        Search Contact
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="full-width">
                        <mat-label>Contact Name</mat-label>
                        <input matInput placeholder="Enter Contact" type = "text" [(ngModel)]="contact" [ngModelOptions]="{standalone: true}" #input>
                    </mat-form-field>
                    <button (click)="addContact()" mat-raised-button color="primary">
                        Search Contact
                    </button>
                </mat-card-content>
                <div class="saved-contacts">
                    <h2>Saved Contacts</h2>
                    <div *ngFor="let contact of contacts; index as i">
                        <div class="contact" *ngIf="mounted">
                            <p>{{contact}}</p>
                            <button (click)="deleteContact(i)" mat-raised-button color="primary">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </form>
    </div> -->
    <!-- <input placeholder="Enter Contact" type = "text" [(ngModel)]="contact" #input>
    <button (click)="addContact()">Add Contact</button> -->
    
    <div class="container">
        <form class="form">
            <mat-card>
                <mat-card-header>
                   <mat-card-title class="header">
                    Enter Transaction Details
                   </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Contact Name</mat-label>
                            <input matInput placeholder="Enter Contact" type = "text" [(ngModel)]="contact" [ngModelOptions]="{standalone: true}" #input>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill" floatLabel="always">
                            <mat-label>Amount</mat-label>
                            <div class="amount">
                                <span matTextPrefix>$&nbsp;</span>
                                <input [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" #input matInput type="number" placeholder="0">
                            </div>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Transaction Type</mat-label>
                            <input type="text"
                                   placeholder="Select Transaction"
                                   aria-label="Transaction Type"
                                   matInput
                                   [formControl]="myControl"
                                   [matAutocomplete]="auto" [(ngModel)]="transType">
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of options1" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                    </div>
                    <button (click)="completeTransaction()" mat-raised-button color="primary">
                        Complete Transaction
                    </button>
                    <p *ngIf="completedTransaction">Your Transaction is complete!</p>
                    <div *ngIf="completedTransaction" class="transaction">
                        <p *ngIf="send">You've sent ${{amount}} to {{contact}}!</p>
                        <p *ngIf="request">You've requested ${{amount}} from {{contact}}!</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>

    <!--
    <input placeholder="Enter Amount">
    <select name="transaction" id="money">
        <option value="">Select Transaction Type</option>
        <option value="send">Send Money</option>
        <option value="request">Request Money</option>
        <option value="wallet">Add To Wallet</option>
    </select>
    <br>
    <button (click)="completeTransaction()">Complete Transaction</button>
    <br>
    <p *ngIf="completedTransaction">Your Transaction is complete!</p>
</section>
-->
    
</section>