section {
    background: linear-gradient(to top, #4c4c4c 59%, #3f51b5 90%) no-repeat;
}

.header {
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    font-size: 2em;
}
  
.container {
    width: 50%;
    text-align: center;
    margin: auto;
}
.right-align {
    text-align: right;
}
  
  
  input.right-align {
    -moz-appearance: textfield;
  }

.form {
    text-align: center;
    margin: auto;
    width: 100%;
}

button {
    margin: 10px;
}
.card-header {
    text-align: center;
    margin: auto;
}

.amount {
    display: inline;
}