<h1>Wallet</h1>
<div class = "balance_header">
<header class ="card_header">
    <h3>
        RevPay balance
    </h3>
</header>
</div>
<div class = "card_content_for_amount">
    <div class="amount_balance">
        <h2>
            $600
        </h2>
    </div>
        <p class="available_amount_text">
            Available
        </p>
</div>

<div class = "creditCards">
    <h3>Credit cards</h3>

    <ul>
        <li>
            credit card 1
        </li>
        <li>
            credit card 2
        </li>
    </ul>
</div>

<div class="child_routes">
    <button (click)=back_button()>back to account</button>
    <button (click)="trans_button()">Transaction history</button>
</div>