<div class="create-account">
    <div class="container">
        <div class="card">
            <header class="heading typography-headline">
                <h2 class="header-text-name">
                    Create RevPay Account
                </h2>
            </header>
            <form class="" #userRegistrationForm="ngForm">
                <div class="row">
                    <div class="input-field">
                        <label for="username" id="username-label">This username will become your RevPay ID</label>
                        <input [(ngModel)] = "username" type="text" name="username" id="username" placeholder="username">
                    </div>
                    <div class="input-field">
                        <label for="password" id="password-label">Your password must be 8 or more characters</label>
                        <input [(ngModel)] = "passwd" type="password" name="password" id="password" placeholder="password">
                        <!-- <span class="eyeicon"><i class="fa fa-eye"></i></span> -->
                    </div>
                    <div class="input-field">

                        <input [(ngModel)] = "first_name" type="text" name="first_name" id="first_name" placeholder="first name">
                    </div>
                    <div class="input-field">

                        <input [(ngModel)] = "last_name" type="text" name="last_name" id="last_name" placeholder="last name">
                    </div>
                    <div class="input-field">
                        <label for="email"></label>
                        <input [(ngModel)] = "email_address" type="text" name="email" id="email" autocapitalize="none" autocomplete="email"
                            placeholder="Email address">


                    </div>
                    <div class="input-field">
                        <input [(ngModel)] = "phone" type="text" name="phone" id="phone" placeholder="phone number">
                    </div>
                    <div class="input-field">
                        <label for="account_type" id="account-type-label">Please choose the type of account you wish to
                            setup</label>
                        <select [(ngModel)] = "type_of_account" name="account_type" id="account-type-field">
                            <option value="blank"></option>
                            <option value="personal">Personal</option>
                            <option value="business">Business</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="button-field">
        <button (click)="register()" mat-raised-button color="warn" id="register-button">Register</button>
    </div>
    <div class="link-field">
        <header>
            <button mat-raised-button color="warn" id="account-button" [routerLink]="['/login']">already
                have an account? click here</button>
            <router-outlet></router-outlet>
        </header>
    </div>
</div>